treechildren::-moz-tree-image(modules_media_media),treechildren::-moz-tree-image(modules_media_securemedia){
	list-style-image: url(/icons/small/document.png) ;
}
treechildren::-moz-tree-image(modules_media_media modules_media_doc),treechildren::-moz-tree-image(modules_media_securemedia modules_media_doc){
	list-style-image: url(/icons/small/document-text.png) ;
}
treechildren::-moz-tree-image(modules_media_media modules_media_pdf),treechildren::-moz-tree-image(modules_media_securemedia modules_media_pdf){
	list-style-image: url(/icons/small/pdf.png) ;
}
treechildren::-moz-tree-image(modules_media_media modules_media_image),treechildren::-moz-tree-image(modules_media_securemedia modules_media_image){
	list-style-image: url(/icons/small/photo.png) ;
}
treechildren::-moz-tree-image(modules_media_media modules_media_flash),treechildren::-moz-tree-image(modules_media_securemedia modules_media_flash){
	list-style-image: url(/icons/small/flash.png) ;
}
treechildren::-moz-tree-image(modules_media_media modules_media_video),treechildren::-moz-tree-image(modules_media_securemedia modules_media_video){
	list-style-image: url(/icons/small/film.png) ;
}
treechildren::-moz-tree-image(modules_media_preferences){
	list-style-image: url(/icons/small/media.png) ;
}
treechildren::-moz-tree-cell(modules_media_securemedia){
	background-image: url(/icons/small/lock.png) ;
	background-repeat: no-repeat;
	background-position: center left;
}
treechildren::-moz-tree-image(modules_media_tmpfile){
	list-style-image: url(/icons/small/document.png) ;
}
treechildren::-moz-tree-image(modules_media_file){
	list-style-image: url(/icons/small/document.png) ;
}