cproperty[propertyname="previewimgurl"]{
	-moz-binding: url(binding:modules.media.cMediaModule#cPreviewImgUrl);
}
cproperty[propertyname="mediausages"]{
	-moz-binding: url(binding:modules.media.cMediaModule#cMediaUsages);
}
cmodulelist#modules_media_widget_documentlist{
	-moz-binding: url(binding:modules.media.cMediaModule#wMediaModuleList);
}
wdialog[template="cropImage"]{
	-moz-binding: url(binding:modules.media.cropImageDialog#cropImageDialog);
}